form.search-package {
    max-width: 600px;
}

form.search-package label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form.search-package .form-input {
    padding: 1em;
}

form.search-package .form-input input[type='text'] {
    display: block;
    width: 100%;
}

@media (max-width: 400px) {
    form.search-package .form-input input[type='text']{
        width: 250px;
    }
}


